body{
    background-color: white;
    border: black;
    width: 900px;
     
}
.wholepage{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


}
.header{
    font-weight: bold;
    
}
.mainheader{
    display: -webkit-inline-flex;
    
}


.logo{

    height: 60px;
    margin-left: 200px;
    padding-bottom: 0;

   
}
.menu li
{
    padding: 10px 20px;
    position: relative; right: -600px;
    display: inline-block;
    color: #144499;
    list-style: none;
    text-align: right;
    font:  14px 'Circularstd', sans-serif;
    font-weight: bold;
    width: ;
}

.button {
    background-color:white;
    border: 2px solid blue;
    border-radius: 5px;
    color:  #144499;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
     
}
.button:hover{
    background-color: blue;
    color: white;
}

.thebetter{
    margin: 0 auto;
    max-width: 600px;
    padding: 150px 0;
    
    color:#144499;
    font-size: 60px;
    line-height: 50px;
    font-family: 'poppins', sans-serif;
    
}

.piggymessage{
    margin: 0 260px;
    margin-top: -140px;
font-family: 'poppins', sans-serif;
font-size: 20px;
font-weight: lighterb;
color: #444;
width: 75%;
box-sizing: border-box;
line-height: 30px;

}
.button2{
    margin: 0 250px;
    background-color:#30c57b;
    border: 1px solid brown;
    border-radius: 5px;
    color:  white;
    padding: 15px 50px;
    font-size: 28px;
    font: 'CircularStd', sans-serif;
    cursor: pointer;
    
}
.button2:hover{
    background-color: white;
    color: blue;
    
}
