body{
    background-color: white;
    padding: 0;
    margin: 0 auto;
    width: 1200px;  
}

.header{
    font-weight: bold;
    
}
/* .mainheader{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
} */



.logo{
    float: left;
    height: 60px;     
}

.menu{
    float:right;
}
.menu li
{
    padding: 10px 20px;
    display: inline;
    color: #144499;
    list-style: none;
    text-align: right;
    font:  14px 'Circularstd', sans-serif;
    font-weight: bold;
    
}

.button {
    background-color:white;
    border: 2px solid blue;
    border-radius: 5px;
    color:  #144499;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;  
     
}
.button:hover{
    background-color: blue;
    color: white;
}
.Better{
    clear: both;
}

.thebetter{
    padding: 120px 0 0 0;
    color:#144499;
    font-size: 60px;
    line-height: 50px;
    font-family: 'poppins', sans-serif;
}

.piggymessage{
   
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #444;
    line-height: 30px;
    

}
.button2{
  
    background-color:#30c57b;
    border: 1px solid brown;
    border-radius: 5px;
    color:  white;
    padding: 15px 50px;
    font-size: 28px;
    font: CircularStd, sans-serif;
    cursor: pointer;
    
}
.button2:hover{
    background-color: white;
    color: blue;
    
}

.female1{
    position: absolute;
    top: 120px;
    right:450px;
    width:180px;
}

.middleline{
    position:relative;
    margin-top: 300px;
   
   
}

.Savesmart{
position: relative;
text-align: center;
font-size: 40px;
color: blue;
font-family: sans-serif;
font-weight: bold;


}
.piggyhelps{
    position: relative;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    color: #627081;

}

.square{
    
    position: relative;

} 